/* https://fonts.google.com/specimen/Inter?sidebar.open=true&selection.family=Roboto+Slab */
body {
  font-family: Inter, Georgia, serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
aside.toc {
  font-family: Roboto Slab, Helvetica, sans-serif;
}

.anchor:hover {
  color: hotpink;
}

/** Table of content
Ref: https://www.bram.us/2020/01/10/smooth-scrolling-sticky-scrollspy-navigation/
**/
/* 1. Enable smooth scrolling */
html {
	scroll-behavior: smooth;
}
/* 2. Make nav sticky */
/* section.post > aside > nav {
	position: sticky;
	top: 2rem;
	align-self: start;
} */

/* page layout */
/* section.post {
  display: grid;
  grid-template-columns: 1fr 20em;
  max-width: 90.0em;
  width: 90%;
  margin: 0 auto;
  padding: 0 .8rem;
} */

/* aside.toc {
  margin-top: 2rem;
  padding: 0 .8rem;
} */

.toc > nav {
  border-left: 4px solid #f0f0f0;
}

.toc a {
  text-decoration: none;
  display: block;
  padding: .125rem 0;
  color: #ccc;
  transition: all 50ms ease-in-out; /* 💡 This small transition makes setting of the active state smooth */
}

.toc a:hover,
.toc a:focus {
  color: hotpink;
}

.toc ul {
  list-style: none;
  margin: 0 1rem;
  padding: 0;
}

.toc li {
  margin-left: 1rem;
}


/** Post page: emphasis and figure **/
.text-emphasis {
  color: #212121;
  text-decoration: none;
  background-color: #d4e2d4;
  padding: 1px 5px;
  border-radius: 2px;
}

figure.figure-center {
  text-align: center;
}

/** Posts list page: Hero images etc... **/
.list ul li .date {
  text-align: left;
  margin: 0;
}

.list img {
  object-fit: contain;
}

.posts-list li {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 3rem 0 6rem 0 !important;
  border-bottom: 1px solid rgba(177, 177, 177, 0.623);
}

@media screen and (min-width: 768px) {
  .posts-list li {
    flex-direction: row;
    padding-bottom: 2rem !important;
  }
}

.posts-list .img-wrapper {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .posts-list .img-wrapper {
    display: block;
    margin-right: 2.5rem;
    min-width: 280px;
    max-width: 280px;
  }
}

.posts-list li img {
  max-width: 100%;
}

@media screen and (min-width: 768px) {
  .posts-list li img {
    max-height: 200px;
  }
}

.posts-list li h2 {
  margin: 0rem 0 0.5rem 0 !important;
}
